<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BiyoriInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BiyoriInstaller.Properties.Settings>
            <setting name="title" serializeAs="String">
                <value>Biyori Installer</value>
            </setting>
            <setting name="encryptKey" serializeAs="String">
                <value>zsU3rWJawenEP1jjCwiV7p6a9FOa6VA1oyPS2kVnYkIXemICvM391nQ5qlKz</value>
            </setting>
            <setting name="gameFolder" serializeAs="String">
                <value>NieR - Automata</value>
            </setting>
            <setting name="Website" serializeAs="String">
                <value>Biyori.moe</value>
            </setting>
            <setting name="dataFolder" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value>NieR - Automata</value>
            </setting>
            <setting name="sfvpath" serializeAs="String">
                <value>checkfiles.exe</value>
            </setting>
            <setting name="sfvDB" serializeAs="String">
                <value>Biyori.md5</value>
            </setting>
            <setting name="trailer_file" serializeAs="String">
                <value>LLCrzJdF8Z4</value>
            </setting>
            <setting name="yt_embed" serializeAs="String">
                <value>https://u.biyori.moe/Wb941K3b.MP4</value>
            </setting>
        </BiyoriInstaller.Properties.Settings>
    </userSettings>
</configuration>